<mat-toolbar color="primary">Village Drive Clinic Patient Sign-In </mat-toolbar>
<div class="flexcontainer">
    <!--<button mat-raised-button (click)="save()" color="accent" style="margin:15px;">Save</button>-->
    <button mat-raised-button (click)="save()" color="accent" style="margin:15px;">Save</button>
    <button mat-raised-button (click)="initElementData()" color="accent" style="margin:15px;">Clear</button>
</div>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef class="position-header-cell"> No. </mat-header-cell>
            <mat-cell *matCellDef="let element" class="position-cell"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="element.name">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <!-- Arrival Time Column -->
        <ng-container matColumnDef="arrivalTime">
            <mat-header-cell *matHeaderCellDef> Arrival Time </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="element.arrivalTime">
                    
                </mat-form-field>
                <button mat-raised-button (click)="getNowArrival(element)" color="accent">Now</button>
                
            </mat-cell>
        </ng-container>

        <!-- Appoointment Time Column -->
        <ng-container matColumnDef="appointmentTime">
            <mat-header-cell *matHeaderCellDef> Appointment Time </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="element.appointmentTime">
                    
                </mat-form-field>
                <button mat-raised-button (click)="getNowAppt(element)" color="accent">Now</button>
                
                
            </mat-cell>

        </ng-container>

        <!-- Appointment Wish Column -->
        <ng-container matColumnDef="appointmentWish">
            <mat-header-cell *matHeaderCellDef> Appointment Wish </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="element.appointmentWish">
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

</div>