
 .flexcontainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}
 .flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.position-cell,
.position-header-cell {
  flex: 0 0 5%;
}

.regular-cell,
.regular-header-cell {
  flex: 0 0 30%;
}

.mat-form-field.mat-form-field {
  width: auto;
}